
body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-image: url("../IMG/body_bg.png");
	background-size: cover;
}
.mobile_menu{
	display: none;
}
.burger_icon{
	display: none;
	width: 57px;
	margin-top: 16px;
	float: right;
	margin-right: 14px
}
.burger_icon>div{
	border-top: 5px solid black;
	margin-bottom: 7px;
}

header{
	background-color: #BFBFBF;
	height: 123px;
	margin-top: 113px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
header>div{
	display: flex;
	margin-top: auto;
	margin-bottom: auto;
	font-weight: bold;
	font-size: 48px;
}

header>div>a{
	text-decoration: none;
	color: black
}

form{
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
	width: 1221px;
	height: 633px;
	background-color: #C4C4C4;
	font-size: 48px;
	justify-content: center;
}
form>label{
	display: block;
    text-align: center;
}

#message{
	display: block;
	width: 1064px;
	height: 244px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 40px;
	margin-bottom: 18px;
	background-color: #C4C4C4;
	font-size: 48px;
}
form>div{
	text-align: center;

}
#name, #email{
	width: 474px;
	height: 99px;
	background-color: #C4C4C4;
	font-size: 48px;
}
#mobile, #submit{
	width: 445px;
	height: 65px;
	background-color: #C4C4C4;
	font-size: 48px;
}

.fcover{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.phones{
	font-size: 40px;
	font-weight: bold;
}
.stud_name{
	font-family: Rock Salt;
	font-size: 30px;
}

footer{
	background-color: #C4C4C4;
	width: 100%;
	bottom: 0;
	display: flex;
	flex-flow: row wrap;
	font-family: Roboto;
	margin-top: 122px;
}

.footer_text{
	display: flex;
	flex-flow: row wrap;
	margin-top: 105px;
	font-size: 30px;
}

.footer_text>p{
	border-right: 1px solid black;
	padding-right: 10px;
	margin-right: 10px;

}
.footer_text>p>a{
	text-decoration: none;
	color: #000;
}

.footer_text>p:last-child{
	border-right: none;
	padding-right: 0;
	margin-right: 0;
}

.contacts{
	margin-left: 110px;
	margin-right: 87px;
	margin-top: auto;
	margin-bottom: auto;
	font-size: 30px;
}
.footer_icons>a{
	margin-right: 21px;
}
.footer_icons>a:last-child{
	margin-right: 0;
}

@media screen and (max-device-width: 320px) {
	.mobile_menu{
		position: fixed;
		z-index: 3;
		background-color: #E5E5E5;
		width: 100%;
		height: 100%;
	}
	.mobile_menu>img{
		width: 25px;
		height: 25px;
		float: right;
		margin-top: 10px;
		margin-right: 10px
	}

	.mobile_menu>p{
		font-weight: bold;
		font-size: 26px;
		margin-left: 35px
	}
	.mobile_menu>p>a{
		text-decoration: none;
		color: #000;
	}
    header{
    	display: none;
    }
    .contact_us{
    	font-size: 16px;
    }
  	form{
    	margin-right: 0;
    	margin-left: 0;
    	width: 100%;
    	height: 100%;
    }
    .form_block>form>div{   
    		width: 100%;
	}
	.contact_us{
		width: 100%;
	}
	.form_block>form>div{
		width: 100%;
	}
	.form_block>form>div>input#name,input#email,textarea#message{
		margin: 0;
		width: 100%;
	}
	.form_block>form>div>input#mobile,input#submit{
		width: 100%;
	}
	.phones{
		display: flex;
	}
	.stud_name{
		font-size: 14px;
	}
	.cover{
		font-size: 14px;
	}

    .burger_icon{
    	display: block;
    }
    footer{
    	display: flex;
    	height: 103px;
    }
    .footer_text{
		display: block;
		margin-top: 0;
		font-size: 14px;
		text-align: center;
		width: 100%;
	}

	.footer_text>p{
		border-right: 1px solid black;
		padding-right: 10px;
		margin-right: 10px;
		display: inline-block;
		margin-top: 0;
		margin-bottom: 0;
	}
	.footer_text>p>a{
		text-decoration: none;
		color: #000;
	}
	.footer_text>p:first-child{
		display: block;
		border-right: none;
		padding-right: 0;
		margin-right: 0;

	}

	.footer_text>p:last-child{
		border-right: none;
		padding-right: 0;
		margin-right: 0;
		margin-top: 0;
		margin-bottom: 0;
	}

	.contacts{
		margin-left: 110px;
		margin-right: 87px;
		margin-top: auto;
		margin-bottom: auto;
		font-size: 14px;
	}
	.footer_icons>a{
		margin-right: 21px;
	}
	.footer_icons>a>img{
		width: 20px;
		height: 20px;
	}
	.footer_icons>a:last-child{
		margin-right: 0;
	}
}
